{% extends "admin/base.html" %}
{% load admin_shortcuts_tags %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}
	{% block admin_shortcuts %}
		</div>  {# this closes the #header div #}
		<div class="admin_shortcuts">
			{% admin_shortcuts %}
		{# </div>  don't close this one, because it's closed in base.html #}
	{% endblock %}
{% endblock %}


{% block extrastyle %}
	{{ block.super }}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
	<style type="text/css">{% admin_shortcuts_css %}</style>
{% endblock %}


{% block extrahead %}
	{{ block.super }}
	{% admin_shortcuts_js %}
{% endblock %}
